* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;

}

.jumbotron {
    background-color: black;
    color: rgb(3, 89, 248);
    height: 15%;
    margin-bottom: 0px;
}

.button {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #000000;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #028ccc;
    text-align: center;
    transition: all 0.2s;
}

#searchforcity {
    color: rgb(3, 89, 248);
}

.displayData {
    color: rgb(3, 89, 248);
}

.button:hover {
    color: #ff0101;
    background-color: #000000;
}

@media all and (max-width:30em) {
    .button {
        display: block;
        margin: 0.4em auto;
    }
}

#container1, #container3{
    margin: 30px 50px 30px 50px;
    width: 50%;
    display: inline-block;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 5px 5px;
    background-color: #FFF;
}

@media screen and (max-width:1200px) {
    #container1,
    #container3 {
        width: 100%;
        height: 100px;
        background:white;
        margin:10px auto;
    }
}

#displayData {
   height: 30%; 
}

ul {
    list-style-type: none;
}


#fiveDayWeather {
    justify-content: center;
}